{% extends "message/message_base.html" %}

{% block page %}


    <div class="container">

        <div class="row">
            <div class="col offset-s2 s8">
                <ul class="collection">
                    {% for notice in notifications %}

                        <li class="collection-item">
                        {{ notice.actor }}{{ notice.verb }}

                            <a class="close pull-right" href="{% url 'mark_as_read' notice.slug %}">mark as read</a>
                        </li>
                    {% endfor %}
                    <li class="collection-item">asd</li>
                </ul>


            </div>


        </div>


    </div>
















    <ul class="notifications">
  {% for notice in notifications %}
        <div class="alert alert-block alert-{{ notice.level }}">
  <a class="close pull-right" href="{% url 'mark_as_read' notice.slug %}">
    <i class="icon-close">close</i>
  </a>

  <h4>
    <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
    {{ notice.actor }}
    {{ notice.verb }}
    {% if notice.target %}
      of {{ notice.target }}
    {% endif %}
  </h4>

  <p>{{ notice.timesince }} ago</p>

  <p>{{ notice.description|linebreaksbr }}</p>

  <div class="notice-actions">
    {% for action in notice.data.actions %}
      <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
    {% endfor %}
  </div>
</div>
  {% endfor %}
</ul>


{% endblock %}