{% extends "base.html" %}


{% block page %}

<div class="row">
  <div class="col s6 offset-s3">
    <h4 class="page-title top7">Sign up</h4>
    <div class="card top3" >
      <div class="row">
        <div class="col s10 offset-s1">

            <form action="." method="post" class="form-horizontal">
            {% csrf_token %}
                <div class="row top5 bottom5">
                    {% for field in form%}

                        <div class="input-field col s10 offset-s1">
                            <label for="{{ field.id_for_label}}" class="form-control">{{ field.label }}</label>
                        <div class="col-lg-8">
                            <input name="{{ field.html_name }}">

                        </div>
                        {{ field.errors }}
                        </div>

                    {% endfor %}
                    <div class="input-field col s10 offset-s1">
                        <input class="btn btn-primary" value="Create my account" type="submit">

                    </div>
                </div>
            </form>



{#          <%= form_for(@user) do |f| %>#}
{#              <%= render 'shared/error_messages' %>#}
{#              <div class="row top5">#}
{#                <div class="input-field col s10 offset-s1">#}
{#                  <%= f.label :name %>#}
{#                  <%= f.text_field :name, class: 'form-control' %>#}
{##}
{#                </div>#}
{#              </div>#}
{##}
{##}
{#              <div class="row">#}
{#                <div class="input-field col s10 offset-s1">#}
{#                  <%= f.label :email %>#}
{#                  <%= f.email_field :email, class: 'form-control' %>#}
{#                </div>#}
{#              </div>#}
{##}
{#              <div class="row">#}
{#                <div class="input-field col s10 offset-s1">#}
{#                  <%= f.label :password %>#}
{#                  <%= f.password_field :password, class: 'form-control' %>#}
{#                </div>#}
{#              </div>#}
{##}
{#              <div class="row">#}
{#                <div class="input-field col s10 offset-s1">#}
{#                  <%= f.label :password_confirmation, "Confirmation" %>#}
{#                  <%= f.password_field :password_confirmation, class: 'form-control' %>#}
{#                </div>#}
{#              </div>#}
{##}
{#              <div class="row bottom5">#}
{#                <div class="input-field col s10 offset-s1">#}
{#                  <%= f.submit "Create my account", class: "btn btn-primary" %>#}
{#                </div>#}
{#              </div>#}
{#          <% end %>#}
        </div>
      </div>


    </div>


  </div>



</div>

{% endblock %}