.nav-backcolor
{
    background-color:#ececec;
}


.nav-color
{
  color:#807f83;

}



.btn {
  text-decoration:none;
  color: #FFF;
  background-color: #2dbe60;
  text-align: center;
  letter-spacing: .5px;
  @extend .z-depth-1;
  @include transition(.2s ease-out);
  cursor: pointer;

}

.btn:hover{
    background-color: rgba(45, 190, 96, 0.5)
}

.page-title {
  color:#807f83;
  font-weight:300;

}

.body-color{
  background-color: #FAFAFA;

}

.text-color{
  color:#807f83;
}

.top1 { margin-top:1%; }
.top2 { margin-top:2%; }
.top3 { margin-top:3%; }
.top5 { margin-top:5%; }
.top7 { margin-top:7%; }
.top10 { margin-top:10%; }
.top15 { margin-top:15%; }
.top17 { margin-top:17%; }
.top30 { margin-top:30%; }


.padding-top3 { margin-top:3%; }
.padding-top5 { margin-top:5%; }
.padding-top7 { margin-top:7%; }
.padding-top10 { margin-top:10%; }
.padding-top15 { margin-top:15%; }
.padding-top17 { margin-top:17%; }
.padding-top30 { margin-top:30%; }

.bottom3 { margin-bottom:3%; }
.bottom5 { margin-bottom:5%; }
.bottom7 { margin-bottom:7%; }
.bottom10 { margin-bottom:10%; }
.bottom15 { margin-bottom:15%; }
.bottom17 { margin-bottom:17%; }
.bottom30 { margin-bottom:30%; }


input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2dbe60;
  box-shadow: 0 1px 0 0 #2dbe60;
}






.tabs {
    height: 64px;
    background: none; }

     .tabs li.tab {
      width: 20%;
      height: 64px;
      line-height: 64px;
      color: rgba(70, 69, 74, 0.6);
      background: none; }

.tabs li.tab a {
        font-size: 14px;
        padding: 0;
        color: rgba(70, 69, 74, 0.6); }
         .tabs li.tab a:hover,  .tabs li.tab a:active,  .tabs li.tab a.active {
           color: rgb(70, 69, 74); }
         .tabs li.tab a.btn.btn-primary {
          color: #ffffff;
          display: inline-block;
          height: auto;
          width: auto;
          padding: 0.7em 1.5em; }
     .tabs .indicator {
      background-color: #2dbe60; }
    @media (min-width: 481px) {
       .tabs li.tab a {
        font-size: 18px; } }


.dropdown-content li > a, .dropdown-content li > span {

    color:#2dbe60;
    font-size: 15px
}

.mdi-social-school{
    color:#2dbe60;
}

.nav-avatar{
    vertical-align:middle;
    width:auto;

}

.logo{
      padding-left: 15px;
  font-size: 1.6em;
  font-weight: 300;
  color: #2dbe60;
}

.container-fluid{
    width: 1024px !important;
    margin: 0 auto;
}