{% extends "base.html" %}

{% block title %}Announcement{% endblock %}

{% block page %}

    <div class="row">
        <div class="col s8 offset-s2">

             {% for a in announcement_list %}
         <div class="row card top7">
            <div class="col s8 offset-s2">

                         <h4>{{ a.title }}</h4>
                 <p>{{ a.create_time }}</p>
                    <p>{{ a.body|linebreaks }}</p>







            </div>
        </div>
    {% endfor %}






        </div>
    </div>






{% endblock %}
