{% extends 'base.html' %}

{% block title %}搜索{% endblock %}

{% block page %}
    
    <div class="row">
    <div class="col s10 offset-s1">
    <div class="card">

        <div class="row">
            <div class="col s8 offset-s1">
            <div class="row"></div>

            <div class="row">
                <span class="card-title black-text">搜索</span>
            </div>

            <div class="row">
                
                <div class="row">
                    <form method="get" action=".">
                        <div class="input-field">
                            <label for="id_q">Search:</label>
                            <input id="id_q" name={{form.q.name}} type="search"}/>
                        </div>
                        <input class="btn btn-primary" type="submit" value="搜索"/>
                    </form>
                </div>

            </div>
            </div>
        </div>
    </div>


    {% if query %}
            <h3>Results</h3>

            <ul class="collection">
            {% for result in page.object_list %}
                <a href="{{ result.object.get_absolute_url }}" class="collection-item">{{ result.object.title }}</a>
            
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </ul>   

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    
{% endblock %}