{% extends "coin/coin_base.html" %}
{% block input_transaction_page %}
    <div class="col s10 offset-s1">
         <ul class="collection">
        {% for transaction in transactions  %}
            <li class="collection-item avatar">
              <i class="mdi-action-assessment circle green"></i>
              <span class="title">{{ transaction.time }}</span>
              <p>from: {{ transaction.from_user }} -> to: {{ transaction.to_user }}</p>
                <p>amount: {{ transaction.amount }}</p>
              <form action="{% url 'delete_transaction' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="transaction_type" value="input_transaction" />
                  <input type="hidden" name="transaction_id" value="{{ transaction.id }}"/>
                  <button class="btn-floating btn-mdi secondary-content waves-effect waves-light red" type="submit" >
                    <i class="mdi-action-delete"></i>
                  </button>
              </form>
            </li>
        {% endfor %}
         </ul>

    </div>
{% endblock %}