{% extends "base.html" %}
{% load i18n %}{% load postman_tags %}
{% block title %}{% trans "Messaging" %}{% endblock %}

{% block page %}
<div class="row">
<div class="col s8 offset-s2 top3">
  <div class="row">
    <div class="col offset-l1">

  <a class='dropdown-button btn' href='#' data-activates='postman_menu'>这里填什么我也不知道</a>

    <ul id="postman_menu" class='dropdown-content'>{% postman_unread as unread_count %}
     <li><a href="{% url 'postman_inbox' %}">{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
     <li><a href="{% url 'postman_sent' %}">{% trans "Sent" %}</a></li>
     <li class="active"><a href="{% url 'postman_write' %}">{% trans "Write" %}</a></li>
     <li><a href="{% url 'postman_archives' %}">{% trans "Archives" %}</a></li>
     <li><a href="{% url 'postman_trash' %}">{% trans "Trash" %}</a></li>
    </ul>
    </div>
  </div>

<div class="card top5">


    {% block message_page %}
        {% endblock %}
</div>
</div>
</div>
{% endblock %}