{% extends "base.html" %}

{% block extrahead %}
<script>

$(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });





  });


    $.getJSON( "/post/course/explore_list/", function( data ) {
        console.log(data);
        $("#index-card").html('');
        for(d in data)
        {
            $("#index-card").append('<div class="card">\
                <div class="card-content ">\
                  <span class="card-title black-text">'+data[d].title+"</span><p>" + data[d].description+'</p>\
                  <p>时间：'+data[d].schedule+'</p></div>\
                <div class="card-action">\
                  <a href="'+data[d].url+'">详情</a>\
                </div>\
              </div>');

            console.log(data[d].title);
        }
    });


</script>

{% endblock %}

{% block page %}

    <div class="container top3">

        <div class="row">
            <div class="col s8">

                <div id="index-card">
                    <div class="center">
                        <div class="preloader-wrapper big active">
                          <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>

                          <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>

                          <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>

                          <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div><div class="gap-patch">
                              <div class="circle"></div>
                            </div><div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>




            </div>


            <div class="col offset-s1 s3">
                <div class="toc-wrapper pinned">

                    <ul class="collection">
                      <li class="collection-item"><a href="{% url "schedule" kind='teach' %}">时间表</a></li>
                      <li class="collection-item"><a href="{% url "announcement" %}">公告</a></li>
                      <li class="collection-item"><a href="{% url "transaction_history" %}">呵币</a></li>
                      <li class="collection-item"><a href="{% url "post:post" %}">帖子</a></li>
                      <li class="collection-item"><a href="{% url "search:index" %}">搜索</a></li>
                        <li class="collection-item"><a href="/account/signup/?referral={{ user.username }}">注册邀请链接</a></li>
                    </ul>
                </div>


        </div>

          </div>

</div>


{% endblock %}
