{% extends "base.html" %}

{% block title %} {{ activity.title}} {% endblock %}

{% block page %}


<div class="row">

        <div class="col s7 offset-s1">
                <div class="row">
                </div>

                <div class="row card">
                <div class="col s10 offset-s1">
                <div class="row">
                        
                        <div class="row">
                                <p class="card-title black-text">{{activity.title}}</p>
                                {% if is_self %}
                                        <a class="col s2 offset-s11" href="{% url 'update_activity' activity.id %}">[编辑]</a>
                                {% endif %}
                        </div>
                        <p> <span class="green-text text-darken-1">By</span> {{ activity.initiator}} </p>
                        <p> <span class="green-text text-darken-1">活动时间 : </span>{{ activity.time }} </p>
                        <p> <span class="green-text text-darken-1">报名截止 : </span> {{ activity.deadline }} </p>
                        <p> <span class="green-text text-darken-1">地点 : </span> {{ activity.location }} </p>
                        <p> <span class="green-text text-darken-1">需求 : </span> {{ activity.requirement }} </p>
                        <p> <span class="green-text text-darken-1">状态 : </span> 

                        <span class="green-text text-darken-1"> {% if status == 'registering' %}  正在报名 {% endif %}</span>
                        <span class="yellow-text text-darken-1"> {% if status == 'tobegin' %}  等待开始 {% endif %} </span>
                        <span class="red-text text-darken-1"> {% if status == 'end' %}  已结束 {% endif %} </span>

                        </p>
                        

                        <p> <span class="green-text text-darken-1">人数 : </span> 
                        {{ activity.joined.count }} / {{ activity.limit }} </p>

                        <p> <span class="green-text text-darken-1">活动详情: </span></p>
                        <p> {{ activity.description }} </p>

                        {% if not is_self %}
                                {% if not interested %}
                                        <a class="waves-effect waves-light btn" href="{% url 'interest_activity' activity.id %}">我感兴趣</a>
                                {% else %}
                                        <a class="waves-effect waves-light btn red" href="{% url 'uninterest_activity' activity.id %}">已感兴趣</a>
                                {% endif %}
                                {% if not has_joined %}
                                        <a class="waves-effect waves-light btn" href="{% url 'join_activity' activity.id %}" >我要参加</a>
                                {% else %}
                                        {% if activity.limit == activity.joined.count %}
                                                <a class="btn disabled">已满员</a>
                                        {% else %}
                                                <a class="waves-effect waves-light btn red" href="{% url 'unjoin_activity' activity.id %}">已参加</a>
                                        {% endif %}
                                {% endif %}
                        {% endif %}
                    
                </div>
                </div>
                </div>
        </div>


        <div class="col s3">

                <div class="row">
                </div>

                <div class="row card">
                        <div class="row"></div>
                                <div class="row">
                                        <span class="col s1"><a class="waves-effect waves-teal btn-flat text-black"><i><img src="/media/{{ course.initiator.profile.avatar }}" alt="" height="30px" width="30px"class="circle nav-avatar"></i></a></span>
                                </div>
                                <div class="col offset-s1">
                                        <p> {{course.initiator}} 的条目: </p>
                                        <p>
                                        {% for c in related_list %}
                                                {% if c.flag == 0%}
                                                        <li> <a href ="{% url 'course_detail' c.id %}"> {{ c.title }}</a></li>
                                                {% else %}
                                                        <li> <a href ="{% url 'activity_detail' c.id %}"> {{ c.title }}</a></li>
                                                {% endif %}
                                        {% endfor %}
                                        </p>
                                </div>
                </div>


                <div class="row">
                </div>

                {% if activity.interested.count > 0 or activity.joined.count > 0 %}
                <div class="row card">
                        <div class="col offset-s1">
                        <p class="card-title black-text">兴趣&参加</p>
                                <p> 
                                        {% if activity.interested.count > 0 %}
                                                {% for user in activity.interested.all %}
                                                        {{ user }}  
                                                {% endfor %}
                                                对这个活动感兴趣。
                                        {% endif %}
                                </p>

                                <p> 
                                        {% if activity.joined.count > 0 %}
                                                {% for user in activity.joined.all %}
                                                        {{ user }}  
                                                {% endfor %}
                                                参加了这个活动。
                                        {% endif %}
                                </p>                                
                        </div>
                </div>
                {% endif %}

                <div class="row card">
                        <div class="col offset-s1">
                                <p class="card-title black-text">相关标签</p>
                                        <p>
                                                {% for t in activity.tag.all %}
                                                        <span><a class="waves-effect waves-light btn red accent-2" href="{% url 'tagview' t.id %}"><i class="mdi-image-style left"></i>{{ t.name }}</a></span>
                                                {% endfor %}
                                                <!-- add link -->
                                        </p>
                                        <p><a href="{% url 'activity_add_tag' activity.id%}">为活动添加标签</a></p>
                        </div>
                </div>

        </div>

</div>

{% endblock %}
