{% extends "base.html" %}
{% load comments %}
{% load widget_tweaks %}

{% block title %} {{ post.title }} {% endblock %}

{% block page %}

<div class="container-fluid">
<div class="row">

        <div class="col s7 offset-s1">
                <div class="row">
                </div>

                <div class="row card">
                <div class="col s10 offset-s1">
                <div class="row">
                        
                        <div class="row">
                                <p class="card-title black-text">{{post.title}}</p>
                                {% if is_self %}
                                        <a class="col s2 offset-s11" href="{% url 'post:update' post.flag post.id %}">[编辑]</a>
                                {% endif %}
                        </div>
                        <p> <span class="green-text text-darken-1">By</span> {{ post.initiator}} </p>
                        <p> <span class="green-text text-darken-1">活动时间 : </span>{{ schedule }} </p>
                        <p> <span class="green-text text-darken-1">报名截止 : </span> {{ post.deadline }} </p>
                        <p> <span class="green-text text-darken-1">地点 : </span> {{ post.location }} </p>
                        <p> <span class="green-text text-darken-1">需求 : </span> {{ post.requirement }} </p>
                        <p> <span class="green-text text-darken-1">状态 : </span> 

                        <span class="green-text text-darken-1"> {% if status == 'registering' %}  正在报名 {% endif %}</span>
                        <span class="yellow-text text-darken-1"> {% if status == 'tobegin' %}  等待开始 {% endif %} </span>
                        <span class="red-text text-darken-1"> {% if status == 'end' %}  已结束 {% endif %} </span>

                        </p>
                        

                        <p> <span class="green-text text-darken-1">人数 : </span> 
                        {{ post.joined.count }} / {{ post.limit }} </p>

                        <p> <span class="green-text text-darken-1">活动详情: </span></p>
                        <p> {{ post.description }} </p>

                        {% if not is_self %}
                                {% if not interested %}
                                        <a class="waves-effect waves-light btn" href="{% url 'post:interest' kind=post.flag post_id=post.id %}">我感兴趣</a>
                                {% else %}
                                        <a class="waves-effect waves-light btn red" href="{% url 'post:uninterest' kind=post.flag post_id=post.id %}">已感兴趣</a>
                                {% endif %}
                                {% if not has_joined %}
                                        <a class="waves-effect waves-light btn" href="{% url 'post:join' kind=post.flag post_id=post.id %}" >我要参加</a>
                                {% else %}
                                        {% if post.limit == post.joined.count %}
                                                <a class="btn disabled">已满员</a>
                                        {% else %}
                                                <a class="waves-effect waves-light btn red" href="{% url 'post:unjoin' kind=post.flag post_id=post.id %}">已参加</a>
                                        {% endif %}
                                {% endif %}
                        {% endif %}
                    
                </div>

                </div>

                </div>

                 {% get_comment_list for post as comment_list %}
                 {% for comment in comment_list %}
                <div class="row">
                    <div class="card">

                        <div class="col s8 offset-s1">
                            <div class="row">
                                <div class="col s2 top3">
                                    <img src="/media/{{ comment.user.profile.avatar }}" alt="" height="50px" class="circle">

                                </div>

                                <div class="col s10 top2">
                                    <div class="row">
                                        <div class="col s12 top1 grey-text text-darken-1">
                                            {{ comment.user }}
                                        </div>
                                        <div class="col s12 grey-text text-lighten-1">
                                            <div class="" style="font-size: 11px;">{{ comment.submit_date }}</div>

                                        </div>

                                        <div class="col s12 grey-text">
                                            {{ comment.comment }}

                                        </div>

                                    </div>

                                </div>



                            </div>

                        </div>
                    </div>

                </div>
                 {% endfor %}




                <div class="row">
                    <div class="card ">
                        <div class="col s2 top5">
                            <span><a class="waves-effect waves-teal btn-flat text-black"><i><img src="/media/{{ user.profile.avatar }}" alt="" height="30px" width="30px"class="circle nav-avatar"></i></a></span>

                        </div>
                        <div class="col s10 top3 bottom3">
                            {% get_comment_form for post as comment_form %}
                            <form action="{% comment_form_target %}" method="post">
                                <div class="input-field">
                                    {% csrf_token %}
                                    <label for="{{ comment_form.comment.id_for_label}}" class="">{{ comment_form.comment.label }}</label>

                                    {% render_field comment_form.comment class+="form-control materialize-textarea" %}
                                    {{ comment_form.content_type }}
                                    {{ comment_form.object_pk }}
                                    {{ comment_form.timestamp }}
                                    {{ comment_form.security_hash }}
                                </div>

                                <input class="btn" type="submit" name="submit" value="Post">

                            </form>



                        </div>
                    </div>

                </div>
        </div>


        <div class="col s3">

                <div class="row">
                </div>

                <div class="row card">
                    <div class="col">
                        <div class="row top10">
                            <div class="col s3">
                                <a class="waves-effect waves-teal text-black"><i><img src="/media/{{ post.initiator.profile.avatar }}" alt="" height="30px" width="30px"class="circle nav-avatar"></i></a>
                            </div>
                            <div class="col">
                                {{post.initiator}} 的条目:
                            </div>
                        </div>
                        <div class="row">
                             <div class="col s9 offset-s3">
                                    {% for item in list %}
                                            <li> <a href ="{% url 'post:detail' item.flag item.id %}"> {{ item.title }}</a></li>
                                    {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                </div>

                {% if post.interested.count > 0 or post.joined.count > 0 %}
                <div class="row card">
                        <div class="col offset-s1">
                        <p class="card-title black-text">兴趣&参加</p>
                                <p> 
                                        {% if post.interested.count > 0 %}
                                                {% for user in post.interested.all %}
                                                        {{ user }}  
                                                {% endfor %}
                                                对这个活动感兴趣。
                                        {% endif %}
                                </p>

                                <p> 
                                        {% if post.joined.count > 0 %}
                                                {% for user in post.joined.all %}
                                                        {{ user }}  
                                                {% endfor %}
                                                参加了这个活动。
                                        {% endif %}
                                </p>                                
                        </div>
                </div>
                {% endif %}

                <div class="row card">
                        <div class="col offset-s1">
                                <p class="card-title black-text">相关标签</p>
                                        <p>
                                                {% for t in post.tags.all %}
                                                        <span><a class="waves-effect waves-light btn red accent-2" href="{% url 'post:tagview' t.id %}"><i class="mdi-image-style left"></i>{{ t.name }}</a></span>
                                                {% endfor %}
                                                <!-- add link -->
                                        </p>
                                        <p><a href="{% url 'post:addtag' post.flag post.id%}">为活动添加标签</a></p>
                        </div>
                </div>

        </div>

</div>
    </div>

{% endblock %}
