{% extends "base.html" %}

{% block title %}

    {% if action == 'create' %}
        创建
    {% elif action == 'update' %}
        编辑
    {% endif %}

    {% if kind == 'c' %}
        课程
    {% elif kind == 'a' %}
        活动
    {% endif %}

{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
{% endblock %}

{% block page %}

<div class="row">
</div>

<div class="row">
<div class="col s10 offset-s1">
<div class="card">

            <div class="row">
            <div class="col s10 offset-s1">
            <p class="card-title black-text">
                {% if action == 'create' %}
                    创建
                {% elif action == 'update' %}
                    编辑
                {% endif %}

                {% if kind == 'c' %}
                    课程
                {% elif kind == 'a' %}
                    活动
                {% endif %}
            </p>
            
            <div class="row">  
            <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">标题:</label>
                        {{ form.title }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.time.errors }}
                        <label for="{{ form.time.id_for_label }}">时间:</label>
                        {{ form.time }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.deadline.errors }}
                        <label for="{{ form.deadline.id_for_label }}">截止日期:</label>
                        {{ form.deadline }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.location.errors }}
                        <label for="{{ form.location.id_for_label }}">地点:</label>
                        {{ form.location }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">描述:</label>
                        {{ form.description }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.requirement.errors }}
                        <label for="{{ form.requirement.id_for_label }}">需求:</label>
                        {{ form.requirement }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.limit.errors }}
                        <label for="{{ form.limit.id_for_label }}">人数限制:</label>
                        {{ form.limit }}
                    </div>
                </div>                
            </div>

            {% if kind == 'c' %}
            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.price.errors }}
                        <label for="{{ form.price.id_for_label }}">价格:</label>
                        {{ form.price }}
                    </div>
                </div>                
            </div>
            {% endif %}

            </div>

            <div class="row">
                <div class="col s2 offset-s3">
                    <input class="btn btn-primary col offset-s5" type="submit" value="提交"/>
                </div>
            
                {%if action == 'update'%}
                <div class="col s2 offset-s1">
                    <a class="waves-effect waves-light btn red" href="{% url 'post:remove' post.flag post.id %}">删除</a>
                </div>
                {% endif %}
            </div>

            </form>
            </div>
            </div>
            </div>
            </div>
</div>

<div class="col s3">

</div>

</div>


 <!-- <form action="." method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="Submit" />
</form> -->
{% endblock %}

