{% extends "base.html" %}

{% block title %}Joined Course{% endblock %}

{% block page %}

    <ul id="dropdown2" class="dropdown-content">
        <li><a href="{% url 'all_course' %}">All Course<span class="badge">1</span></a></li>
        <li><a href="{% url 'posted_course' %}">Posted Course<span class="badge">1</span</a></li>
        <li><a href="{% url 'joined_course' %}">Joined Course<span class="badge">1</span</a></li>
      </ul>
    <a class="btn dropdown-button" href="#!" data-activates="dropdown2">INTERESTED<i class="mdi-navigation-arrow-drop-down right"></i></a>

    <div class="row">
        <div class="col s8 offset-s2">

             <div class="collection">
                {% for course in course_list %}
                    <a href="{% url 'course_detail' course.id%}" class="collection-item"> {{ course.title }} </a>
                {% endfor %}
            </div>
       
        </div>
    </div>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href={% url 'course_create' %}>
      <i class="large mdi-editor-mode-edit"></i>
    </a>    
</div>


{% endblock %}
