{% extends 'base.html' %}


{% block page %}
     <div class="row">
            <div class="col s10 offset-s1">


            <div class="row">
            </div>


            <div class="row">
                    <ul id="dropdown2" class="dropdown-content">
                            <li><a href="{% url 'post:all' kind %}">所有POST<span class="badge"></span></a></li>
                            <li><a href="{% url 'post:posted' kind %}">我发布的<span class="badge"></span></a></li>
                            <li><a href="{% url 'post:joined' kind %}">我参加的<span class="badge"></span></a></li>
                            <li><a href="{% url 'post:interested' kind %}">我感兴趣的<span class="badge"></span></a></li>
                            <li><a href="{% url 'post:all_tags' %}">所有标签<span class="badge"></span></a></li>
                    </ul>
                    {% block current_tab %}{% endblock %}
            </div>

            <div class="row">

                    <div class="col s10 offset-s1">

                            <ul class="collapsible popout">
                                    {% for item in list %}
                                            <li>
                                            <div class="collapsible-header"> {{ item.title }} </div>
                                            <div class="collapsible-body">
                                                    <p> {{ item.description }} </p>
                                                    <p>
                                                        <a href="{% url 'post:detail' kind=item.flag post_id=item.id%}">详细</a>
                                                        {% if is_posted %}
                                                            <a href="{% url 'post:update' kind=item.flag post_id=item.id %}">编辑</a>
                                                        {% endif %}
                                                    </p>
                                            </div>
                                            </li>
                                    {% endfor %}
                            </ul>
                    </div>
            </div>
            </div>
     </div>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href="{% url 'post:create' 'c'%}">
      <i class="large mdi-editor-mode-edit"></i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="{% url 'post:create' 'a'%}"><i class="large mdi-editor-insert-chart"></i></a></li>
    </ul>
</div>

{% endblock %}