{% extends "base.html" %}

{% block title %}Post{% endblock %}

{% block page %}

    <div class="row">
        <div class="col offset-s3 s6 top5">
            <div class="row">
                <div class="col s5">
                    <a href="{% url "course_create" %}"><div class="card-panel green">
                      <span class="white-text">Course</span>
                    </div>
                    </a>


                </div>
                <div class="col offset-s2 s5">
                    <div class="card-panel green">
                      <span class="white-text">Activity</span>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
