{% extends "base.html" %}

{% block title %}我发布的{% endblock %}

{% block page %}

    <div class="row">
            <div class="col s10 offset-s1">


            <div class="row">
            </div>


            <div class="row">
                    <ul id="dropdown2" class="dropdown-content">
                            <li><a href="{% url 'all_course' %}">所有POST<span class="badge"></span></a></li>
                            <li><a href="{% url 'posted_course' %}">我发布的<span class="badge"></span></a></li>
                            <li><a href="{% url 'joined_course' %}">我参加的<span class="badge"></span></a></li>
                            <li><a href="{% url 'interested_course' %}">我感兴趣的<span class="badge"></span></a></li>
                            <li><a href="{% url 'all_tag' %}">所有标签<span class="badge"></span></a></li>
                         </ul>
                    <a class="btn dropdown-button" href="#!" data-activates="dropdown2">我发布的<i class="mdi-navigation-arrow-drop-down right"></i></a>

                    <a class="waves-effect waves-light btn" href="{% url 'posted_course' %}">课程</a>
                    <a class="waves-effect waves-light btn red" href="{% url 'posted_activity' %}">活动</a>
            </div>


            <div class="row">

                    <div class="col s10 offset-s1">
                    {# <div class="collection">#}
                    
                            <ul class="collapsible popout">
                                    {% for activity in activity_list %}
                                            <li>
                                            <div class="collapsible-header"> {{ activity.title }} </div>
                                            <div class="collapsible-body">
                                                    <p> {{ activity.description }} </p>
                                                    <p>
                                                            <a href="{% url 'activity_detail' activity.id%}">详细</a>
                                                            <a href="{% url 'update_activity' activity.id%}">编辑</a>
                                                    </p>
                                            </div>
                                            </li>
                                    {% endfor %}
                            </ul>
                    {#</div>#}
                    </div>
            </div>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red" href={% url 'create_course' %}>
      <i class="large mdi-editor-mode-edit"></i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="{% url 'create_activity' %}"><i class="large mdi-editor-insert-chart"></i></a></li>
    </ul>
</div>



{% endblock %}
