{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} 编辑课程 {% endblock %}

{% block extrahead %}
{#    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">#}
{#    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>#}
{#    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>#}
    <script>
    $(document).ready(function() {
         $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
      });
    });


    </script>


{% endblock %}

{% block page %}



<div class="row">
</div>

<div class="row">
<div class="col s10 offset-s1">
<div class="card">

            <div class="row">
            <div class="col s10 offset-s1">
            <p class="card-title black-text">编辑课程</p>
            
            <div class="row">  
            <form action="." method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">标题:</label>
                        {{ form.title }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.time.errors }}
                        <label for="{{ form.time.id_for_label }}">时间:</label>
                         <input  id="{{ form.time.id_for_label }}" name="{{ form.time.name }}" type="date" class="datepicker" value="{{ form.time.value }}">
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.deadline.errors }}
                        <label for="{{ form.deadline.id_for_label }}">截止日期:</label>
                        <input  id="{{ form.deadline.id_for_label }}" name="{{ form.deadline.name }}" type="date" class="datepicker" value="{{ form.deadline.value }}">
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.location.errors }}
                        <label for="{{ form.location.id_for_label }}">地点:</label>
                        {{ form.location }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">描述:</label>
                        {{ form.description }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.requirement.errors }}
                        <label for="{{ form.requirement.id_for_label }}">需求:</label>
                        {{ form.requirement }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.limit.errors }}
                        <label for="{{ form.limit.id_for_label }}">人数限制:</label>
                        {{ form.limit }}
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="input-field">
                    <div class="fieldWrapper">
                        {{ form.price.errors }}
                        <label for="{{ form.price.id_for_label }}">价格:</label>
                        {{ form.price }}
                    </div>
                </div>                
            </div>

            </div>

            <div class="row">
            <input class="btn btn-primary col offset-s4" type="submit" value="提交"/>
            <a href="{% url 'remove_course' course.id %}" class="btn btn-primary red col offset-s1" >删除</a> 
            </div>

            </form>
            </div>
            </div>
            </div>
            </div>
</div>

<div class="col s3">

</div>

</div>


 <!-- <form action="." method="post">
{% csrf_token %}
{{ form }}
<input type="submit" value="Submit" />
</form> -->
{% endblock %}

